<% @page_title =  "Sugestões" %>
<% @isMusician = current_user.user_type == 'musician' %>
<% sub_title = @isMusician ? 'Visualize as sugestões deixadas para você' : 'Veja ou remova suas sugestões' %>

<div class="container">

<div class="page-header" align="center">
      <h1>Sugestões<br><small><%= sub_title %></small></h1>
  </div>

  <p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
    	<% if @isMusician %><th>Usuário</th><%end%>
      	<th>Sugestão</th>      	
        <% if !@isMusician %>        
          <th>Visualizado?</th>
          <th></th>
        <%end%>
    </tr>
  </thead>

  <tbody>
    <% @suggestions.each do |suggestion| %>
      <tr>
        <% if @isMusician %><td><%= suggestion.user.name %></td><%end%>
        <td><%= suggestion.text %></td>        
        <% if !@isMusician %>
          <td><%= suggestion.seen? ? 'S' : 'N' %></td>
          <td class="icons">
          <% if !suggestion.seen %>
            <%= link_to artist_suggestion_destroy_path(id: suggestion.id), method: :delete, data: { confirm: 'Tem certeza que deseja remover a sugestão?' } do%>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="icon bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                </svg>
              <%end%>
            <%end%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

 <% if @suggestions.empty? %>
 	<p class="text-center">
 		<% if @isMusician %> 
 			Nenhuma sugestão recebida.
 		<%else%>
 			Nenhuma sugestão enviada.
 		 <%end%>
 	</p>
 <%end%>

<center>
	<%= will_paginate @suggestions, :previous_label => '«', :next_label => '»' %>  
</center>

</div>
