<% @page_title =   "Edição de usuário"%>
<%= stylesheet_link_tag "login" %>

<div class="text-center">
  <%= image_tag("loading.gif", height: 150) %>

  <center>
    
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h1 class="h3 mb-3 font-weight-normal">Conexão Boteco</h1>

  <div class="field">
    <%= f.text_field :access, autofocus: true, placeholder: "Login", class: "form-control" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Seu nome" %>
  </div>
  <br>

  <div class="field">
    <i>Deixe os campos de "Nova senha" em branco se não quiser alterar a senha atual</i>
    <%= f.password_field :password, class: "form-control", placeholder: "Nova senha" %> 
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirme a nova senha" %>  
  </div>
  <br>

  <div class="field">
    <i>É necessário sua senha para salvar as alterações</i>
    <%= f.password_field :current_password, class: "form-control", placeholder: "Senha atual", required: true %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Atualizar meus dados", class: "btn btn-orange" %>
  </div>

  <hr>

<% end %>

 <p>Deseja cancelar sua conta? 
  <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar sua conta?" }, method: :delete, class: "btn btn-orange" %>
  </p>
  <%= link_to "Voltar", :back %>  

 </center>
  </div> 





