<% @page_title =  "Cardápio" %>

<div class="container">
    <div class="page-header" align="center">
        <h1>Conheça nosso cardápio<br /><small>e faça seus pedidos</small></h1>
    </div>

    <p id="notice"><%= notice %></p>

    <% if @categories.empty? %>
        <p class="text-center">O cardápio está vazio.</p>    
    <%end%>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="right">
                <%= link_to @order do %>
                    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                    </svg>
                <% end %>
            </div>
        </div>
    </div>

    <div class="food-menu">    
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <% @categories.each do |category| %>
                    <div class="item swiper-slide" >
                        <a href="#"><%= category.name%></a>

                        <% if category.products.empty? %>
                            <br>
                            <p class="text-center">Nenhum produto cadastrado para esta categoria.</p>    
                        <%end%>

                        <% category.products.each do |product| %>                            
                            <div class="row menu-item">
                                <div class="title">
                                    <h3>
                                        <%= product.name %> <span class="price">R$ <%= number_with_precision(product.price, precision: 2, separator: ',') %></span>
                                    </h3> 
                                </div>                               
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    <%= image_tag("data:image/jpeg;base64,#{product.image}", alt: product.name, class: "img-thumbnail short") %>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">                                   
                                    <p><%= product.description.gsub(/\n/, '<br />').html_safe %></p>
                                    <div class="input-group item-quantity">
                                      <span class="minus input-group-addon">-</span>
                                      <input type="text" class="form-control" placeholder="0">
                                      <span class="plus input-group-addon">+</span>
                                    </div>                                                                                      
                                </div>                   
                            </div>
                        <%end%>                        
                    </div>                                                  
                <%end%>                              
            </div>                       
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
