<% @page_title =  "Cardápio" %>

<div class="container">
    <div class="page-header" align="center">
        <h1>Conheça nosso cardápio<br /><small>e faça seus pedidos</small></h1>
    </div>

    <p id="notice"><%= notice %></p>

    <% if @categories.empty? %>
        <p class="text-center">O cardápio está vazio.</p>    
    <%end%>

    <div class="food-menu">    
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <% @categories.each do |category| %>
                    <div class="item swiper-slide" >
                        <a href="#"><%= category.name%></a>

                        <% if category.products.empty? %>
                            <br>
                            <p class="text-center">Nenhum produto cadastrado para esta categoria.</p>    
                        <%end%>

                        <% category.products.each do |product| %>                            
                            <div class="row menu-item">
                                <div class="title">
                                    <h3>
                                        <%= product.name %> <span class="price">R$ <%= number_with_precision(product.price, precision: 2, separator: ',') %></span>
                                    </h3> 
                                </div>                               
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    <%= image_tag(product.image.menu_thumb.url, alt: product.name, class: "img-thumbnail") %>                                
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">                                   
                                    <p><%= product.description %></p>
                                    <div class="input-group item-quantity">
                                      <span class="minus input-group-addon">-</span>
                                      <input type="text" class="form-control" placeholder="0">
                                      <span class="plus input-group-addon">+</span>
                                    </div>                             
                                </div>                   
                            </div>
                        <%end%>                        
                    </div>                                                  
                <%end%>                              
            </div>                       
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
