<%= form_with(model: user, local: true, html: { multipart: true }) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "erro") %>:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
     <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="field">
    Nome: <%= form.label user.name %>  
  </div>
</div>
  </div>

<div id="schedule-today" class="form-row <% if user.user_type != "musician" %>hidden<%end%>">    
<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="field">    
    <%= form.label :scheduled_today, "Agendado para hoje?" %>
    <%= form.check_box :scheduled_today, class: "form-check-input" %>
  </div>
</div>
</div>

<div class="form-row">    
<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="field">
    <%= form.label :user_type, "Tipo de usuário" %>
    <%= form.select(:user_type, options_for_select([['-- Selecione o tipo --', nil], ['Admin', 'manager'], ['Artista', 'musician'], ['Cliente', 'customer']], :selected => user.user_type), {}, { class: "form-control", onchange: 'handle_scheduled_today(this)'})  %>
  </div>
</div>
</div>

  <div class="form-row">
  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 actions">
    <%= form.submit "Salvar", class: "btn btn-orange right" %>
    <%= link_to 'Cancelar', users_path, class: "right btn btn-orange" %>
  </div>
</div>
<% end %>

<script type="text/javascript">
  
  function handle_scheduled_today(obj)
  {
    if (obj.value == 'musician')
    {
      $('#schedule-today').removeClass('hidden');
    }
    else
    {
      $('#schedule-today').addClass('hidden');
    }
  }

</script>
