<% @page_title =   "Recuperação de senha"%>
<%= stylesheet_link_tag "login" %>

<div class="text-center">
  <%= image_tag("loading.gif", height: 150) %>

<center>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h1 class="h3 mb-3 font-weight-normal">Conexão Boteco</h1>

  <div class="field">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: 'E-mail para recuperação', required: true %>
  </div>

<br>
  <div class="actions">
    <%= f.submit "Recuperar minha senha", class: "btn btn-orange btn-lg btn-block" %>
  </div>
 
 <div class="devise-links">
 <%= link_to "Voltar", :back %>  	
 </div>
 <% end %>
</center>
</div>
