<% @page_title = 'Comanda' %>

<div class="container">
	<div class="page-header" align="center">
	    <h1>Comanda<br><small>Visualize seus pedidos</small></h1>
	</div>

	<p id="notice"><%= notice %></p>

	<div class="edit">

		<h2 class="right order">Mesa <small><%= @order.table_num %></small></h2>	


		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Produto</th>
		      <th>Quantidade</th>
		      <th>Subtotal (R$)</th>
		      <th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @products.each do |prod| %>
		      	<tr>
			        <td><%= prod.name %></td>
			        <td>qt</td>
			        <td>34,00</td>
					<td class="icons">
				  	Remover item da comanda
		          	</td>
		      	</tr>		    	
	      	<% end %>
		  </tbody>
		</table>	

		 <% if @products.empty? %>
		  <p class="text-center">Não há nenhum pedido adicionado a comanda.</p>
		  <%end%>
	</div>

	<% if @order.user.id ==  current_user.id %>
		<%= link_to 'Adicionar itens', menu_path, class: "btn btn-orange right" %>
	<%end%>

	<%= link_to 'Voltar', orders_path, class: "btn btn-orange right" %>

	<br>
</div>