<% @page_title = 'Comanda' %>

<div class="container">
	<div class="page-header" align="center">
	    <h1>Comanda<br><small>Visualize seus pedidos</small></h1>
	</div>

	<p id="notice"><%= notice %></p>

	<div class="edit">

		<div class="right">
			<h2 class="order">Mesa <small><%= @order.table_num %></small></h2>	
			<span class="right"><%= @order.user.name %></span>
		</div>		

		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Produto</th>
		      <th>Quantidade</th>
		      <th>Subtotal (R$)</th>
		      <th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @order.order_items.each do |item| %>
		    <% product = Product.find(item.product_id) %>
		      	<tr>
			        <td><%= product.name %></td>
			        <td><%= item.quantity %></td>
			        <td><%= number_with_precision(product.price, precision: 2, separator: ',') %></td>
					<td class="right">
						<% if item.status == 'can_cancel' %>
				  			<span class="btn btn-orange remove">Remover</span>
				  		<% end %>
		          	</td>
		      	</tr>		    	
	      	<% end %>
		  </tbody>
		</table>	

		 <% if @order.order_items.nil? %>
		  	<p class="text-center"><%= @order.user.id ==  current_user.id ? 'Sua' : 'Esta' %> comanda está vazia.</p>
		  <%end%>
	</div>

	<% if @order.user.id ==  current_user.id %>
		<%= link_to 'Adicionar itens', menu_path, class: "btn btn-orange right" %>
	<%end%>

	<% if current_user.user_type ==  'manager' %>
		<%= link_to 'Fechar comanda', @order, method: :delete, data: { confirm: 'Tem certeza que deseja fechar a comanda?' }, class: "btn btn-orange right" %>
	<%end%>

	<br>
</div>