<% @page_title =   "Acesso"%>
<%= stylesheet_link_tag "login" %>

  <div class="text-center">
  <%= image_tag("loading.gif", height: 150) %>

<center>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

 <% if flash[:alert] %>
   <%= flash[:alert] %>
<% end %>

<h1 class="h3 mb-3 font-weight-normal">Conexão Boteco</h1>

  <div class="field">
    <%= f.text_field :access, autofocus: true, class: "form-control", placeholder: "Login", required: true  %>
  </div>

  <div class="field">
    <%= f.password_field :password, class: "form-control", placeholder: "Senha", required: true   %>
  </div>

 <br>

  <div class="actions">
    <%= f.submit "Acessar", class: "btn btn-orange btn-lg btn-block" %>
  </div>
   
   <div class="devise-links">
    <%= link_to "Criar conta", new_registration_path(resource_name), class: "new" %><br>
    <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %>  
   </div>
   
<% end %>
</center>
</div>



