<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "erro") %>:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-row">
  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="field">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Nome do produto", :required => true  %>
  </div>
</div>
</div>

<div class="form-row">
  <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <div class="field">      
    <%= form.label :product_category_id, "Categoria" %>
    <%= form.collection_select :product_category_id, ProductCategory.all, :id, :name, { prompt: "-- Selecione a categoria -- "}, { class: "form-control", :required => true  } %>
  </div>
  </div>
  <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="field">
    <%= form.label :price, "Preço" %>
    <div class="input-group item-quantity">
      <span class="input-group-addon">R$</span>
      <%= form.number_field :price, class: "form-control", placeholder: "0,00", :required => true, step: "any"  %>
    </div>
    
  </div>
  </div>
</div>

  <div class="form-row">
  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="field">
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Deixe aqui a descrição do produto", rows: 5 %>
  </div>
  </div>  
</div>

<div class="form-row">
  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="field">
    <%= form.label :image, "Imagem" %><br>
    <%= form.file_field :image, class: "file-upload hidden" %>
    <% if form.object.image? %>
      <%= image_tag("data:image/jpeg;base64,#{form.object.image}", alt: 'Imagem atual', class: "short") %>   
    <% end %>

    <br><br>
    <span class="btn btn-orange" onClick="openDialog()">Escolher imagem</span>
  </div>
</div>
</div>

  <div class="form-row">
  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 actions">
    <%= form.submit "Salvar", class: "btn btn-orange right" %>
    <%= link_to 'Cancelar', products_path, class: "right btn btn-orange" %>
  </div>
</div>
<% end %>

<script>
function openDialog()
{
  $(".file-upload").click();
}
</script>