
<% @page_title =  @product.name %>

<div class="container">
	<div class="page-header" align="center">
	    <h1>Detalhes do produto<br><small>Visualize os detalhes do produto</small></h1>
	</div>

<p id="notice"><%= notice %></p>

<div class="edit">
	<p>
  <strong>Nome:</strong>
  <%= @product.name %>
   <%= link_to edit_product_path(@product) do%>
	  <svg width="1em" height="1em" viewBox="0 0 16 16" class="icon bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
	  <%end%>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @product.product_category.name %>
</p>

<p>
  <strong>Preço:</strong>
  R$ <%= number_with_precision(@product.price, precision: 2, separator: ',') %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= image_tag(@product.image.thumb.url, alt: 'Imagem') %>
</p>

</div>

<%= link_to "Inventariar", edit_stock_path(Stock.where(product_id: @product.id).first.id), class: "left link" %> 

<%= link_to 'Incluir novo produto', new_product_path, class: "btn btn-orange right" %>
<%= link_to 'Voltar', products_path, class: "btn btn-orange right" %>

</div>
