<% @page_title =  "Avaliação de músicas" %>

<div class="container">

<div class="page-header" align="center">
      <h1>Avaliação de músicas<br><small>Veja como os clientes avaliaram suas músicas</small></h1>
  </div>

  <div class="filter">
    <%= form_tag(rates_list_path, :method => :get) do %>    
    <div class="form-row">
       <div class="form-group col-lg-5 col-md-5 col-sm-12 col-xs-12">
         <%= text_field_tag 'author', params[:author], :class => "form-control", :placeholder => "Buscar por banda" %>
      </div>
      <div class="form-group col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <%= text_field_tag 'music', params[:music], :class => "form-control", :placeholder => "Buscar por música" %>
      </div>        
      <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12 actions">
         <%= button_tag :class => "btn btn-orange" do %>            
         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>&nbsp;&nbsp;Filtrar
         <%end%>
    </div>
    </div>
  <%end%>
  </div>  


  <table class="table table-striped">
  <thead>
    <tr>
      <th>Banda</th>
      <th>Música</th>
      <th class="number">Qt. avaliações</th>
      <th class="number">Média</th>
    </tr>
  </thead>

  <tbody>
    <% @result.each do |result| %>
      <tr>
        <td><%= result[:author] %></td>
        <td><%= result[:song] %></td>
        <td class="number"><%= result[:quantity] %></td> 
        <td class="number"><%= number_with_precision(result[:value]/result[:quantity], precision: 2) %></td>       
      </tr>
      <% end %>
  </tbody>
</table>

 <% if @result.empty? %>
  <p class="text-center">Não há nenhuma música avaliada.</p>
<%end%>

<center>
  <%= will_paginate @result, :previous_label => '«', :next_label => '»' %>  
</center>

</div>

