<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @rate.song_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rate.user_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @rate.value %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
