<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title><%= @page_title %> - Conexão Boteco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="../../../manifest.json">
    <link rel="stylesheet" href="../../../lib/bootstrap/bootstrap.min.css">
    <link rel="icon" href="../../../images/icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../../../images/icons/152px-icon.png">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
    <% if request.path == rates_path %>
      <%= stylesheet_link_tag 'live-music', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'rating', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="white"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffa61a">
    <meta name="apple-mobile-web-app-title" content="Conexão Boteco">
    <meta name="msapplication-TileImage" content="../images/icons/144px-icon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>   

    <% if user_signed_in? %>
    
        <nav id="menu" class="panel" role="navigation">                
            <span>Olá, <strong><%= current_user.name %></strong></span>
             
             <%= link_to destroy_user_session_path, method: :delete do %> 
                <span class="sign_out">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
                </span>
              <%end%>
              
            <ul>    

              <% if current_user.active? %>
                 
                 <% if current_user.user_type == "manager" %> 
                     <li><%= link_to 'Produtos', products_path %></li>  
                     <li><%= link_to 'Categorias de produto', product_categories_path %></li>  
                     <li><%= link_to 'Estoque', stocks_path %></li> 
                     <li><%= link_to 'Usuários', users_path %></li> 
                 <%end%>

                <% if current_user.user_type == "musician" %> 
                  <li><%= link_to 'Repertório', songs_path %></li> 
                <%end%>

                 <% if current_user.user_type == "customer" %> 
                  <li><%= link_to 'Música ao vivo', rates_path %></li> 
                <%end%>
                
             <%end%>
                
            </ul>           
        </nav>
        <div class="master-head relative push">
            <a href="#menu" class="menu-link">&#9776;</a> 
        </div>   

    <%end%>
        
    <div class="relative push">
        
        <%= yield %>

        <div class="container body-content">
            <footer class="container">
                <hr>
                <p>© 2020 - Conexão Boteco</p>
            </footer>
        </div>
    </div>        
    
    <script type="text/javascript" src="../../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../js/bigslide.min.js"></script>
   
    <% if request.path == rates_path %>
       <script type="text/javascript" src="../../../js/rating.js"></script>
    <% end %> 

    <script>
        $(document).ready(function() {
            $('.menu-link').bigSlide();
        });
    </script>

  </body>
</html>



       
        
      